
.pdsa-sn-wrapper {
    position: absolute;
    top: 3.6em;
    left: 0em;
    width: 13em;
    height: 100%;
    background-color: black;
}

.pdsa-sn-wrapper ul {
    width: 11em;
    list-style: none;
    margin-top: 1em;
    margin-left: 1em;
    padding: 0em;
}

.pdsa-sn-wrapper ul li,
.pdsa-sn-wrapper ul li ul li {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.pdsa-sn-wrapper ul li a,
.pdsa-sn-wrapper ul li ul li a {
    color: #999999;
    text-decoration: none;
    padding: .5em;
}

.pdsa-sn-wrapper ul li a:hover,
.pdsa-sn-wrapper ul li ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.pdsa-sn-wrapper ul li a:active,
.pdsa-sn-wrapper ul li a:focus,
.pdsa-sn-wrapper ul li ul li a:active,
.pdsa-sn-wrapper ul li ul li a:focus {
    text-decoration: none;
    outline: none;
    color: white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand {
    margin-left: -.5em;
    font-size: large;
    color: white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand a {
    color: white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand a:hover {
    color: lightblue;
    background: none;
}


.pdsa-sn-wrapper ul li ul {
    list-style: none;
    margin-top: 1em;
    margin-left: 1em;
}

.body-content {
    transition: margin-left 0.3s linear;
    -moz-transition: margin-left 0.3s linear;
    -webkit-transition: margin-left 0.3s linear;
}

.pdsa-sn-wrapper {
    transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
}

/* Add <span> for sm, md, lg breakpoints */
.pdsa-sn-wrapper ul li a span {
    margin-top: -1em;
    margin-bottom: -1em;
    margin-left: 1em;
    padding-top: -1em;
    padding-bottom: -1em;
}

@media all and (max-width: 768px) {
    .pdsa-sn-wrapper {
        left: -10em;
    }
    
    .pdsa-sn-wrapper ul li a i {
        padding-left: 10em;
        margin-top: -1em;
        margin-bottom: -1em;
    }
    
    .body-content {
        margin-left: 5em;
        background-color: lightslategray;
    }
}


/*header*/
.container {
  width: 100%;
}

.body-content {
  margin-left: 14em;
  margin-top: 1em;
  width: 85%;
}

header {
  padding: .7em;
  background-color: gray;
  color: white;
  font-size: large;
    margin-left: -1em;
    margin-right: -1em;
}

  header a {
    background-color: gray;
    color: white;
    text-decoration: none;
  }

    header a:hover {
      text-decoration: none;
    }
