{% extends 'index.html' %}
{% block content %}
<div class="jumbotron jumbotron">
    <form action="/airtime/send" method=post class=airtime>
        <dl>
            <dt>Phone Number:
            <dd><input type=text size=30 name=phoneNumber>
            <dt>Amount:
            <dd><input type=text size=30 name=amount>
            <dd><input type=submit value=Send>
        </dl>
    </form>
    <div>
        {% if results %}
        <table class="table table-striped table-hover ">
            <thead class="table-inverse">
            <tr>
                <th>Message ID</th>
                <th>Receiver</th>
                <th>status</th>
                <th>cost</th>
            </tr>
            </thead>
            <tbody>
            {% for response in results %}
            <tr>
                <th scope="row">{{response['phoneNumber']}}</th>
                <td>{{response['amount']}}</td>
                <td>{{response['status']}}</td>
                <td>{{response['discount']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif error %}
        <p>{{error}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
