<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AFRICASTALKING Gateway Implementation</title>
    
    <link rel="stylesheet" href="../static/bootstrap-3.3.6/css/bootstrap.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style type="text/css">
    
    </style>

</head>
<body>

<div class="container">
    <header>
        <a href="{{ url_for('index') }}">HOME</a>
    </header>
    
    <nav class="pdsa-sn-wrapper">
        <ul id="sideNavParent">
            <li class="pdsa-sn-brand">
                <a href="{{url_for('index')}}">
                    <span class="visible-sm visible-md visible-lg">Balance</span>
                    <i class="glyphicon glyphicon-usd visible-xs "></i>
                </a>
            </li>
            <li>
                <a href=" {{url_for('sms')}}">
                    <span class="visible-sm visible-md visible-lg">SMS</span>
                    <i class="glyphicon glyphicon-inbox visible-xs "></i>
                </a>
            </li>
            <li>
                <a href="{{ url_for('voice') }}" >
                    <span class="visible-sm visible-md visible-lg">VOICE&nbsp;</span>
                    <i class="glyphicon glyphicon-globe visible-xs"></i>
                </a>
            
            </li>
            <li>
                <a href="{{ url_for('airtime') }}">
                    <span class="visible-sm visible-md visible-lg">AIRTIME</span>
                    <i class="glyphicon glyphicon-phone visible-xs"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="container body-content">
    {% block content %}
    {% endblock %}
</div>


<!----------------------------------------------- JAVASCRIPT ---------------------------------------------------------->
<script src="../static/jquery-2.2.3.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="../static/bootstrap-3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
