{% extends 'index.html' %}
{% block content %}
<div class="jumbotron jumbotron">
    <form action="/sms/send" method=post class=sendSMS>
        <dl>
            <dt>Phone Number:
            <dd><input type=text size=30 name=phoneNumber>
            <dt>Message:
            <dd><textarea name=message rows=5 cols=40></textarea>
            <dd><input type=submit value=Send>
        </dl>
    </form>
    <div>
        {% if results %}
        <table class="table table-striped table-hover ">
            <thead class="table-inverse">
            <tr>
                <th>Message ID</th>
                <th>Receiver</th>
                <th>status</th>
                <th>cost</th>
            </tr>
            </thead>
            <tbody>
            {% for rs in results %}
            <tr>
                <th scope="row">{{rs['messageId']}}</th>
                <td>{{rs['number']}}</td>
                <td>{{rs['status']}}</td>
                <td>{{rs['cost']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif error %}
        <p>{{error}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
